{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password pure-form pure-form-aligned">
    <fieldset>
        <legend>{{ 'change_password.submit'|trans }}</legend>

        <div class="pure-control-group">
            {{ form_label(form.current_password) }}
            {{ form_widget(form.current_password) }}
            {{ form_errors(form.current_password) }}
        </div>

        <div class="pure-control-group">
            {{ form_label(form.plainPassword.first) }}
            {{ form_widget(form.plainPassword.first) }}
            {{ form_errors(form.plainPassword.first) }}
        </div>

        <div class="pure-control-group">
            {{ form_label(form.plainPassword.second) }}
            {{ form_widget(form.plainPassword.second) }}
            {{ form_errors(form.plainPassword.second) }}
        </div>

        {{ form_widget(form._token) }}

        <div class="buttons">
            <button type="submit" class="pure-button button-primary">{{ 'change_password.submit'|trans }}</button> <a href="{{ path('collections_index') }}" title="Home" class="pure-button">Cancel</a>
        </div>
    </fieldset>
</form>
