{% extends 'Eventual::layout.html.twig' %}

{% block title %}Collections{% endblock %}

{% block content %}
<h1>Collections</h1>

<div class="action-buttons">
    <a href="{{ path('collections_create') }}" class="pure-button button-primary" title="Create collection">
        <span class="fa fa-plus"></span>
        Create collection
    </a>
</div>

{% if collections %}
<table class="pure-table pure-table-horizontal">
    <tbody>
{% for c in collections %}
        <tr>
            <td>{{ c.id }}</td>
            <td class="link"><a href="{{ path('show_collection', {'id': c.id}) }}">{{ c.name }}</a></td>
            <td>{{ c.created|date('d/m/Y', false) }}</td>
            <td>
                <a href="{{ path('collections_update', {'id': c.id}) }}" class="pure-button" title="Edit">
                    <span class="fa fa-cog"></span>
                    Edit
                </a>

                <div class="button-form">
                    <form action="{{ path('collections_delete', {'id': c.id}) }}" method="POST">
                        <input type="hidden" name="_method" value="DELETE" />
                        <button type="submit" class="pure-button button-error" name="submit-delete-{{ c.id }}">
                            <span class="fa fa-trash-o"></span>
                            Delete
                        </button>
                    </form>
                </div>
            </td>
        </tr>
{% endfor %}
    </tbody>
</table>

<div class="action-buttons">
    {% if page > 1 %}
    <a href="{{ path('collections_index', {'page': page - 1}) }}" class="pure-button pull-left" title="Previous page">
        <span class="fa fa-chevron-left"></span>
        Previous page
    </a>
    {% endif %}
    {% if total_pages > page %}
    <a href="{{ path('collections_index', {'page': page + 1}) }}" class="pure-button" title="Next page">
        <span class="fa fa-chevron-right"></span>
        Next page
    </a>
    {% endif %}
</div>
{% else %}
There are no collections.
{% endif %}
{% endblock %}
