{% extends 'Eventual::layout.html.twig' %}

{% block title %}View collection: {{ collection.name }}{% endblock %}

{% block content %}
<h1>{{ collection.name }}</h1>
<div class="action-buttons">
    <a href="{{ path('collections_index') }}" class="pure-button pull-left" title="Go back">
        <span class="fa fa-chevron-left"></span>
        View all collections
    </a>
    <a href="{{ path('events_create', {'id': collection.id})}}" class="pure-button button-primary" title="Create event">
        <span class="fa fa-plus"></span>
        Create event
    </a>
    <div class="button-form">
        <form action="{{ path('collections_delete', {'id': collection.id}) }}" method="POST">
            <input type="hidden" name="_method" value="DELETE" />
            <button type="submit" class="pure-button button-error" id="form_removeCollection" name="form[removeCollection]">
                <span class="fa fa-trash-o"></span>
                Delete collection
            </button>
        </form>
    </div>
</div>

<table class="pure-table pure-table-horizontal table-data">
    <tbody>
        <tr>
            <td>Public key</td>
            <td>{{ collection.pubKey }}</td>
        </tr>
        <tr>
            <td>Private key</td>
            <td>{{ collection.privateKey }}</td>
        </tr>
        <tr>
            <td>Created</td>
            <td>{{ collection.created|date('d/m/Y H:m') }}</td>
        </tr>
    </tbody>
</table>

<h2>Days</h2>
{% if events|length > 0 %}
<table class="pure-table pure-table-horizontal">
    <tbody>
{% for e in events %}
        <tr>
            <td>{{ e.event_date }}</td>
            <td>{{ e.num_events }} event{% if e.num_events != 1 %}s{% endif %}</td>
            <td><a href="{{ path('show_day', {'id': collection.id, 'day': e.event_date}) }}" title="View events" class="pure-button">View events</a></td>
        </tr>
{% endfor %}
    </tbody>
</table>
{% else %}
<div class="msg-info">
    There are no events in this collection.
</div>
{% endif %}
{% endblock %}
